.titleSize {
  font-size: 18px;
}

.topMar100 {
  margin-top: 150px;
}

.error {
  color: red;
  font-size: 12px;
}

.flexMain {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexMain > div {
  width: 50%;
  text-align: center;
  margin: 10px;
  padding: 5px 10px 30px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 125px;
}

@media screen and (max-width: 600px) {
  .flexMain > div {
    width: 80%;
  }
}

.iconActive {
  color: rgb(121, 121, 121);
}

/* dynamic content styles */
.textWhite {
  color: white;
}
.textGold {
  color: gold;
}

.backgroundGreen {
  background-color: green;
}
.backgroundRed {
  background-color: rgb(199, 5, 5);
}
.backgroundBlue {
  background-color: rgb(5, 5, 226);
}
.backgroundPurple {
  background-color: rgb(128, 70, 128);
}
