.titleSize {
  font-size: 18px;
  position: relative;
  top: -8px;
}
@media screen and (max-width: 600px) {
  .titleSize {
    font-size: 13px;
  }
}
.topMar100 {
  margin-top: 150px;
}

.error {
  color: red;
  font-size: 12px;
}

.flexMain {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexMainChild {
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .flexMainChild {
    width: 98%;
    margin-right: 5px;
    margin-left: 5px;
  }
}
.inline {
  display: inline-block;
}

.iconActive {
  color: rgb(228, 117, 117);
}

/* dynamic content styles 
.textWhite {
  color: white;
}
.textGold {
  color: gold;
}
.textBlue {
  color: rgb(5, 5, 226);
}
.textRed {
  color: red;
}
.textPurple {
  color: rgb(160, 7, 160);
}
.textOrangeRed {
  color: rgb(255, 51, 0);
}
.textDarkRed {
  color: rgb(190, 43, 43);
}

.backgroundGreen {
  background-color: green;
}
.backgroundRed {
  background-color: rgb(199, 5, 5);
}
.backgroundBlue {
  background-color: rgb(5, 5, 226);
}
.backgroundPurple {
  background-color: rgb(128, 70, 128);
}
.backgroundBlack {
  background-color: black;
}
.backgroundBlueViolet {
  background-color: rgb(71, 31, 248);
}
.backgroundGreyBlue {
  background-color: rgb(38, 31, 139);
}
.backgroundGray {
  background-color: rgb(66, 66, 66);
}
*/
