.titleSize {
  font-size: 18px;
  position: relative;
  top: -8px;
}
@media only screen and (max-width: 600px) {
  .titleSize {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .titleSize {
    font-size: 13px;
    top: -11px;
  }
}

@media only screen and (max-width: 350px) {
  .titleSize {
    font-size: 11px;
    top: -10px;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.flexMain {
  columns: 2;
  margin: 30px auto;
  width: 80%;
}
.wrap {
  word-wrap: break-word;
}
.flexMainChild {
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.buttonContainer {
  margin-top: 10px;
  margin-bottom: 30px;

  flex-flow: row nowrap;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .flexMain {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 30px auto 0px auto;
  }
  .flexMainChild {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .flexMainChild {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 415px) {
  .flexMainChild {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.inline {
  display: inline-block;
}

.iconActive {
  color: rgb(228, 117, 117);
}
.marginBottom {
  margin-bottom: 15px;
}
.centerButton {
  margin: 15px auto;
  width: 300px;
  text-align: center;
}

.textCenter {
  text-align: center;
}
.headerTop {
  margin-top: 80px;
  margin-left: 5px;
  margin-right: 5px;
}
.headerTop > p {
  max-width: 700px;
  margin: auto;
}
