footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50;
  background-color: rgb(214, 214, 214);
}
.marginLeft {
  margin-left: 30px;
}
.footerHeart {
  margin-left: 5px;
  color: darkred;
}
.repoLink {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 20px;
  margin-left: -20px;
}

/*
 iphone x 
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  footer {
    width: 106%;
  }
  .repoLink {
    left: calc(106% / 2);
  }
}
galaxy s5 
@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  footer {
    width: 111%;
  }
  .repoLink {
    left: calc(111% / 2);
  }
}
  iphone 5 /se 
@media screen and (device-width: 320px) and (device-height: 568px) {
  footer {
    width: 120%;
  }
  .repoLink {
    left: 55%;
  }
}

 iphone 6/7/8e 
@media screen and (device-width: 375px) and (device-height: 667px) {
  footer {
    width: 107%;
  }
  .repoLink {
    left: calc(107% / 2);
  }
}
*/
