.snackBarClass {
  width: 275px;
  margin-left: -137.5px;
  background-color: rgb(255, 251, 251);
  color: rgb(58, 58, 58);
  text-align: center;
  border-radius: 10px 0 10px 10px;
  padding: 5px;
  position: fixed;
  z-index: 15;
  left: 50%;
  bottom: 40px;
  font-size: 20px;
  border: 2px solid black;
  font-weight: 700;
}
.snackBarP {
  display: inline-block;
  position: relative;
  width: 225px;
  left: 12.5px;
}
.closeSVG {
  position: relative;
  top: -25.5px;
  left: 21.5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
