.activeButton {
  background-color: black;
  color: white;
}

.leftButton {
  border-radius: 5px 0 0 5px;
  width: 100px;
}

.rightButton {
  border-radius: 0 5px 5px 0;
  width: 100px;
}

.leftButton:hover,
.rightButton:hover {
  opacity: 1;
}
.centerSwitchButtons {
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -150px;
  text-align: center;
  width: 300px;
}
