.icon {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none;
}
.icons {
  position: relative;
  top: 4px;
}

.votePosition {
  font-size: 18px;
  position: relative;
  top: -9px;
}
@media only screen and (max-width: 400px) {
  .votePosition {
    font-size: 16px;
  }
}
.votingPosition {
  background-color: rgb(211, 211, 211);
  height: 50px;
  width: 50px;
  margin-right: 10px;
  padding-left: 5px;
}
@media only screen and (max-width: 450px) {
  .votingPosition {
    margin-right: 5px;
  }
}
.buttonBunch {
  position: relative;
}
