.linkStyle {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(95, 95, 95);
  margin: 0 5px;
  padding: 20px 5px 5px 5px;
  box-sizing: border-box;
  font-size: 18px;
}
.routerButton:hover,
.linkStyle:hover {
  background-color: rgb(95, 95, 95);
  color: rgb(241, 239, 239);
}

.active {
  background-color: rgb(95, 95, 95);
  color: rgb(241, 239, 239);
}

.centerTheRouter {
  text-align: center;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}
.routerLinkCenter {
  top: 15px;
}
.routerButtonsCenter {
  top: -5px;
}

.routerButton {
  font-size: 18px;
  cursor: pointer;
}

/* iphone x 
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .centerTheRouter {
    left: calc(106% / 2);
  }
}
 galaxy s5 
@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .centerTheRouter {
    left: calc(111% / 2);
  }
}

 iphone 5 /se 
@media only screen and (device-width: 320px) and (device-height: 568px) {
  .centerTheRouter {
    left: 50%;
    margin-left: -175px;
  }
}

  iphone 6/7/8e 
@media screen and (device-width: 375px) and (device-height: 667px) {
  .centerTheRouter {
    left: calc(106% / 2);
  }
}
*/
